In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data=pd.read_csv("train.csv")

FileNotFoundError: [Errno 2] File b'train.csv' does not exist: b'train.csv'

In [223]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [224]:
data.shape

(8523, 12)

In [225]:
data=pd.get_dummies(data)

In [226]:
data.shape

(8523, 1605)

In [227]:
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [228]:
#seprate the data et into two halfs one for training and other for testing
train=data[:7999]

In [3]:
test=data[8000:]

NameError: name 'data' is not defined

In [230]:
train.shape
test.shape

(523, 1605)

# training the model

In [231]:
#now storing the value of dependent varibale in the y axis
y_train=train["Item_Outlet_Sales"]

In [232]:
y_train.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [233]:
x_train=train.drop("Item_Outlet_Sales",axis=1)

In [234]:
x_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [235]:
#training the model
from sklearn.linear_model import LinearRegression

In [236]:
#hence we have to create object of linearregression fucntion in sklearn
lrg=LinearRegression()

In [241]:
lrg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [240]:
# if their is any missing value in the dataset then the linear regression will not work..so we have to remove the the nan value from the dataset
x_train.fillna(0,inplace=True)

In [242]:
#now the score of the training model
lrg.score(x_train,y_train)

0.6480632496321992

# testing the model

In [252]:
x_test=test.drop("Item_Outlet_Sales",axis=1)

In [2]:
test_p=test["Item_Outlet_Sales"]
test_p

NameError: name 'test' is not defined

In [257]:
pred=lrg.predict(x_test)
print(pred)

[ 2352.  3824.  3776.  2000.  4688.  2928.  1824.  2448.  3440.  5280.
  4800.  1040.  4080.   864.  1616.   864.   464.   864.  3408.  2160.
  1920.  2128.  3744.  5312.  1152.  -928.  2496.  2496.  4976.  4144.
   576.   240.   960.  1472.  1392.  2560.  2832.  1328.   544.  4752.
  2864.  1008.  3600.   176.  3392.  1808.  3088.  2528.   736.   560.
  5424.  2272.  2400.  2192.    48.  2864.  2400.  1536.   704.  3728.
   128.  2768.  2416.  -496.  4800.  2512.  2640.  2912.  2048.  2544.
  1936.  1984.  3280.  2032.  2736.  2832.  2208.  1808.  3024.  2400.
  2560.  1648.  1984.  2896.  2800.  1776.  4192.  3824.  1776.  3120.
  -800.   656.  1392.   992.  -576.  2944.  1120.   800.  4240.  4432.
  2944.  4896.  2880.   -64.  2256.  1680.   736.   496.  1440.  3360.
 -1072.   928.  1440.  2496.  1264.   896. -1216.  4032.   864.  1680.
  2352.   304.  1408.  3168.  1024.  4704.  2320.  3760.  3712.  2576.
  1504.  4304.  2128.   560.  1008.   496.  4192.  2224.  2752.  1808.
   784.   592.  2960.  1408.  3952.  2320.  4688.  3216.  3632.  2048.
  1088.  1808.  -960.  3872.  4208.   432.  1088.  2528.  2080.  2000.
  2688.  3712.   832.  4656.  2848.  5344.   432.  2480.  1072.  2592.
  4880.  1920.  3792.  1200.  3248.  4496.  1568.  5952.  5024.  1136.
  2608.  2784.  1968.  1408.  3792.  1888.  3648.  1392.  1872.  1088.
  2864.  1152.  2128.  2144.   176.  2160.  2576.  1504.  5648.  5120.
  3056.  4992.  1376.  1936.   400.  1104.   528.  2832.  4320.  1456.
  4912.  1920.  2896.  1520.  2128.  1840.  2672.  3264.  1712.  1472.
  1904.  1776.  3408.  1216.  4432.  2256.   240.   576.  1312.  2624.
   304.  3280.  2880.  1888.  -128.   512.  2544.  -176.  1392. -2016.
  1136. -1264.  1632.  3680.  5376.  5008.  1696.  1408.   272.  4160.
  2128.  5552.  3296.   976.  2016.  2000.  1664.  1792.  1408.   896.
  1072.  2656.  1952.  3344.  3648.  2544.   656.  3344.   992. -1040.
  2256.  2240.  1712.   832.  3728.  1552.  1264.   624.  3360.  3024.
  3072.  4464.  2400.  1408.   -16.  2192.  1632.   640.   240.  1584.
   752.   352.  1392.  1232.  1408.  3584.  -960.  1664.  1248.  2272.
  1248.  4144.  1392.  3808.  3712.  3152.  1568.   896.  4128.  2384.
  2192.  2160.  5024.  2256.   912.  2176.  1280.  1248.  1200.  3936.
  2720.  3792.  5824.  2080.  1824.   672.  2800.  2928.  3216.  5152.
  1216.  4656.   736.  1504.  1424.  1024.    80.   832.  1680.  2192.
  2688.  1488.  3952.  1808.  3920.  2016.  2576.  1472.   912.  3328.
  3760.  4208.   560.  1216.  2720.  2320.  4672.  2064.  -256.   -64.
  3792.  2896.  4320.  2768.  1904.   208.   592.  1184.  2496.  2240.
  2624.  1008.  2592.  2672.   704.  3424.  4848.  2368.  1792.  2992.
  3984.  3136.  2000.  5024.   768.  1616.   832.   992.  1872.  1648.
   704.  1728.  1616.   368.  1760.  2400.  1104.   720.  1344. -1024.
  -416.  1456.  2080.  4496.  -416.  -624.  1440.  2720.  4688.  2544.
  3600.  3360.  2976.  1536.  1696.  2336.   880.   752.   816.  2336.
  1360.  2192.  2032.  3440.  3568.  2176.  2928.  1136.  2512.  2880.
  2256.   896. -1104.  2608.  2288.  4944.   848.  1824.  2144.  1808.
  1664.  2000. -1072.  1664.  3264.   240.   848.  3936.  1200.    16.
  1296.  4272.  2192.  4208.   432.  2912.  1648.  1808.  1456.  1616.
  2288.  3312.  1040.  1872.  1888.  3088.   256.  1280.   816.   912.
  2208.  1712.  3712.   592.  1264.  2256.  1760.  3248.  2064.  1344.
   176.   896.  1888.  1648.  1984.  5248. -1216.  5120.  3952.   880.
   944.  3248.  1472.  3504.  1872.  2192.  3856.  2448.  1872.  2016.
  2368.  1440.  1584.  2368.  4032.  3984.  2848.  1520.  2000.  2912.
  4640.  4016.  1936.  1552.  1040.  2240.  1184.  3328.  3696.  2832.
  1040.  1696.  1344.]

In [254]:
#now using the linear regression

In [258]:
x_test.fillna(0,inplace=True)

In [259]:
lrg.score(x_test,test_p)

0.40323038290840735

# now checking the rmsq

In [261]:
rmse_train=rmse_test = np.sqrt(np.mean(np.power((np.array(test_p)-np.array(pred)),2)))

In [263]:
rmse_train = np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lrg.predict(x_train))),2)))

In [264]:
print(rmse_train)
print(rmse_test)

1015.4745437720768
1254.3908460554242